@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Blog Kategorisi Girişi</h4>
                        <p class="card-subtitle mb-4">Kategori alanına veri girişini aşağıdaki panelden yapabilirsiniz.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputCategory">Kategori Adı</label>
                                <input type="text" class="form-control" id="exampleInputCategory" asp-for="Name" placeholder="Kategori Adını Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategori Oluştur</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>